<div class='jumbotron'>
	<div class='container'>
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<form method="POST" action="/merchants/register" class="form-group">
				  <div class="form-group">
				    <label for="username">Merchant Name:</label>
					<input type="text" name="username" value=""  class="form-control">
				  </div>
				  {{#if user}}
			        <div class="alert alert-danger" role="alert">
					  Merchant already exists!
					</div>
				  {{/if}}
				  <div class="form-group">
				    <label for="email">Email:</label>
					<input type="email" name="email" value="" class="form-control">
				  </div>
				  {{#if mail}}
			        <div class="alert alert-danger" role="alert">
					  Email already registered!
					</div>
				  {{/if}}
				  <div class="form-group">
				    <label for="location">Location:</label> 
					<input type="text" name="location" value="" class="form-control" required>
				  </div>
				  <div class="form-group">
				    <label for="category">Business category:</label> 
		            <select class="custom-select form-control" id="inputGroupSelect01" name="category" required>
		              <option selected>Food & Drink</option>
		              <option value="Automotive">Automotive</option>
		              <option value="Beauty & Spas">Beauty & Spas</option>
		              <option value="Health & Fitness">Health & Fitness</option>
		              <option value="Home Services">Home Services</option>
		              <option value="Meal Prep & Wine Delivery">Meal Prep & Wine Delivery</option>
		              <option value="Online Learning">Online Learning</option>
		              <option value="Other">Other</option>
		              <option value="Personal Services">Personal Services</option>
		              <option value="Personalized Items">Personalized Items</option>
		              <option value="Retail">Retail</option>
		              <option value="Things To Do">Things To Do</option>
		            </select>
				  </div>
				  <div class="form-group">
				    <label for="password">Password:</label>
					<input type="password" name="password" value=""
					pattern="(?=.*\d)(?=.*[\W_]).{8,}" 
					aria-describedby="passwordRules" class="form-control">
					<small id="passwordRules" class="form-text text-muted">Minimum 8 characters. Must include at least one digit and special character.</small>
				  </div>
				  <button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>
	</div>
</div>
